* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* does not work on safari
  
  scroll-behavior: smooth;*/
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}
.grid:last-child {
  margin-bottom: 0;
}
/*.grid :not(:last-child) {
}*/
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid-center-v {
  align-items: center;
}
.heading-primary {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3rem;
}
.heading-secondary {
  font-size: 4.4rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.heading-four {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #8a4c14;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
  border-radius: 15px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #555;
  color: #fff;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #b8651b;
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #b8651b;
  border-bottom: 1px solid transparent;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  line-height: 1.2rem;
}
.list-icon {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
}
*:focus {
  outline: none;
  /*outline: 4px dotted #000;
  outline-offset: 8px;*/
  box-shadow: 0 0 0 6px #000;
}

/****Helper or Settings Classes***/

.margin-right-sm {
  margin-right: 1.5rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}
/******************
******************
STYLE
**************
***********/
/****Header****/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fef6f0;
  height: 7.2rem;
  padding: 0 4.8rem;
}
.logo {
  height: 4.8rem;
  border: 1px solid #555;
  border-radius: 25%;
  transition: all 0.4s;
}
.logo:hover,
.logo:active {
  transform: scale(1.2);
}
/********************
Navigation
***********/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #65615d;
  font-weight: 500;
  font-size: 2.4rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #8a4c14;
  font-size: 2.8rem;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 1.8rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #8a4c14;
}
/***Mobile Section***/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/***Sticky Navigation***/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(0, 255, 255, 0.85);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 9.6rem;
}

/***Hero Section***/
.section-hero {
  background-color: #fdf2e9;
  padding: 5rem 0 9rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9rem;
}

.hero-description {
  font-size: 3.4rem;
  line-height: 1.4;
  margin-bottom: 5rem;
}

.hero-img {
  width: 100%;
}
.hero-img-box {
  padding-top: 3rem;
}
/*.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}
.delivered-imgs {
  display: flex;
  /*gap: 1rem;
}*/
/*.delivered-imgs img {
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;
  margin-right: -0.8rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 1.5rem;
}
.delivered-text span {
  color: #8a4c14;
  font-weight: 700;
}*/

/**************************/
/* HOW IT WOrKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-description {
  font-size: 2rem;
  line-height: 1.4;
}
.step-img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.9);
}
.step-img-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
/********
section 3
****/
h3 {
  padding-left: 30rem;
}

.step-number {
  font-size: 9.6rem;
  font-weight: 500;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}
.step-img1 {
  width: 60%;
}
.step-img-box1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 2.4rem;
  border-radius: 9px;
  transition: all 0.4s;
}
.btn:hover,
.btn:active {
  background-color: #a15818;
  scale: 1.1;
}
/********
section son
*********/

.container-3 {
  background-color: #fdf2e9;
  color: #000;
  margin-top: 4rem;
  padding: 6rem 0;
  gap: 4rem;
  align-items: start;
  justify-items: center;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  margin-top: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 0.6rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 6px rgba(253, 242, 233, 0.49);
}
.btn {
  color: #fff;
}
.btn--form {
  background-color: #e67e22;
  color: #fdf2e9;
  align-self: end;
  padding: 1rem 3rem 1rem 1rem;
  text-transform: uppercase;

  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}
.adres {
  text-decoration: underline;
  font-size: 2rem;
  padding: 2rem, 2rem;
}
.e-posta {
  font-size: 1.6rem;
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
}
.icon-post {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 1rem;
  display: inline-block;
  float: left;
}
.list-0,
.list-1 {
  font-size: 1.6rem;
  margin-top: 1rem;
  list-style-type: none;
}
.kateg,
.son-yaz {
  text-decoration: none;
}
.img-4 {
  width: 70%;
}
